@import "node_modules/bootstrap/scss/bootstrap";

$display-font: 'DM Serif Display', serif;
$body-font: 'Inter', sans-serif;
$black: #222;
$green: #6bffaf;

@import "partials/filter";
@import "partials/header";

body {
    color: $black;
    font-family: $body-font;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $display-font;
    font-weight: 400;
    font-style: normal;
}

img {
    max-width: 100%;
}

.gallery {
    padding-bottom: 3rem;
}

$continents: africa, asia, australasia, europe, north-america, south-america;

@each $cont in $continents {
    .#{$cont} {
        margin-bottom: 8px;
    }
}

.photo {
    position: relative;
    
    .caption {
        background-color: rgba($green, .7);
        color: $black;
        font-size: .75rem;
        font-weight: 700;
        padding: 2px 8px;
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: right;
        width: 100%;
    }
}
