.Filter {
    padding: 2rem 0 1.5rem;

    .row {
        align-items: center;
    }

    .filter-info p {
        margin: 0;
    }

    .filter-button {
        background-color: $green;
        border: none;
        color: $black;
        display: block;
        margin-left: auto;
        padding: .5rem 1rem;
    }

    .continent-menu {
        position: relative;
        right: -1320px;

        &.slide-in {
            animation: 1s linear 0s 1 normal slide-in;
            animation-fill-mode: forwards;
        }

        &.slide-out {
            animation: 1.5s linear 0s 1 normal slide-out;
            animation-fill-mode: forwards;
        }

        .options {
            list-style: none;
            margin: 0;
            padding: 0;
            text-align: right;

            li {
                display: inline-block;

                &:last-child {
                    a {
                        padding-right: 0;
                    }
                }

                a {
                    display: inline-block;
                    padding: .75rem 1rem;
                    text-decoration: none;

                    &.active {
                        color: $black;
                    }
                }
            }
        }
    }
}

@keyframes slide-in {
    0% {
        right: -1320px;
    }

    25% {
        right: -990px;
    }

    50% {
        right: -660px;
    }

    75% {
        right: -330px;
    }

    100% {
        right: 0;
    }
}

@keyframes slide-out {
    0% {
        right: 0;
    }

    25% {
        right: -330px;
    }

    50% {
        right: -660px;
    }

    75% {
        right: -990px;
    }

    100% {
        right: -1320px;
    }
}
